.padding {
    padding-top: 30px;
}

.btn-big {
    width: 100%;
    margin-bottom: 5px;
}

button a {
    color: var(--dark);
    width: 100%;
    height: 100%;
    display: block;
}

button a:hover, button a:focus {
    color: var(--dark);
    text-decoration: none;
}

.qtext {
    font-weight: bold;
    margin-bottom: 5px;
}
.qa {
    margin: 0;
    margin-left: 20px;
}

.question .btn-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.question .btn-group button {
    padding: 2px;
}

.question hr{
    margin-top: 0;
}

.green {
    color: green;
}